<form class="form-inline mt-2 mt-md-0">
    <button pButton type="button" label="A230 李政忠 SD0027" class="ui-button-rounded ui-button-success"
      style='margin-right:.5em' icon="pi pi-user"></button>
    <button pButton type="button" label="說明" class="ui-button-rounded ui-button-warning" style='margin-right:.5em'
      tooltipPosition="bottom" icon="pi pi-file"></button>
    <button pButton type="button" label="業務窗口" class="ui-button-rounded ui-button-info" style='margin-right:2em'
      pTooltip="A12 林思翰" tooltipPosition="bottom" icon="pi pi-question-circle"></button>
    <button pButton type="button" label="登出" class="ui-button-rounded ui-button-secondary"
      icon="pi pi-sign-out"></button>
  </form>
