<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SDMS</a>

  <ul class="navbar-nav px-3">
    <app-common-header></app-common-header>
  </ul>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <app-common-menu></app-common-menu>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <p-confirmDialog header="系統視窗" icon="pi pi-exclamation-triangle" acceptLabel="確認" rejectLabel="取消">
      </p-confirmDialog>
      <p-toast [style]="{marginTop: '40px'}"></p-toast>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
