<h1 class="h2">通訊錄維護</h1>
<p-panel>
  <p-header>
    <p-button icon="pi pi-search" label="查詢" styleClass="ui-button-info" style='margin-right: 0.5em'
      (click)="showQuotationDialog()"></p-button>
    <p-button icon="pi pi-user-plus" label="新增" styleClass="ui-button-success" (click)="create()"
      [disabled]="!mainForm.valid" style='margin-right: 0.5em'></p-button>
    <p-button icon="pi pi-pencil" label="修改" styleClass="ui-button-warning" style='margin-right: 0.5em'
      [disabled]="!mainForm.valid"></p-button>
    <p-button icon="pi pi-user-minus" label="刪除" (click)="delete()" styleClass="ui-button-danger"
      style='margin-right: 0.5em'></p-button>
  </p-header>
  <div class="ui-g ui-fluid" [formGroup]="mainForm">

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">職工編號</span>
        <input type="text" pInputText formControlName="empNo">
        <button pButton type="button" icon="pi pi-user" (click)="showUserDialog()" class="ui-button-warn"
          style='width:60px'></button>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">單位代號</span>
        <select class="form-control" formControlName="depNo">
          <option>A100</option>
          <option>A110</option>
          <option>A120</option>
          <option>A130</option>
          <option>A200</option>
          <option>A210</option>
          <option>A220</option>
          <option>A230</option>
          <option>M100</option>
          <option>M110</option>
          <option>M120</option>
          <option>M200</option>
          <option>M210</option>
          <option>M220</option>
          <option>M300</option>
          <option>M310</option>
          <option>M320</option>
          <option>M400</option>
          <option>M410</option>
          <option>M420</option>
          <option>M500</option>
          <option>M510</option>
          <option>M520</option>
        </select>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">分機</span>
        <input type="text" pInputText formControlName="phone">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">手機</span>
        <input type="text" pInputText formControlName="phone">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">手機直撥碼</span>
        <input type="text" pInputText formControlName="directNo">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">Email</span>
        <input type="text" pInputText formControlName="email">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">備用Email</span>
        <input type="text" pInputText>
      </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">Line ID</span>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">Skype</span>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">Facebook</span>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">辦公室位置</span>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">部門代碼</span>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon input-title-addon">部門代碼</span>
        <input type="text" pInputText>
      </div>
    </div>
  </div>
  <p>
    Form Vaule: {{ mainForm.value | json }}

  </p>


</p-panel>
<p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
